name: Update the list of operators and the icons used.

on:
  push:
    branches:
      - en
    paths:
      - assets/dyn/gamedata/** # avoid looping triggers since this script will update the icon assets
  workflow_dispatch:

concurrency:
  group: '${{ github.ref }}'

jobs:
  remove-files:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout to repo
        uses: actions/checkout@v5
        with:
          ref: 'en'
          sparse-checkout: |
            scripts/
            operator_db/
            source_json/
            prisma/
            assets/dyn/arts/charavatars/
            assets/dyn/gamedata/excel

      - name: Install cwebp
        run: sudo apt-get update && sudo apt-get install -y webp

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 20

      - name: npm Install
        run: npm install

      - name: Prisma generate
        run: npx prisma generate

      - name: Build operator database
        # This is ran with true to overwrite the old db
        run: python scripts/build.py true

      - name: Remove all icons that aren't in the operator db
        run: python scripts/clean.py

      - name: Convert images to webp
        run: scripts/convert.sh

      - name: Sanity check all icons and db
        run: python scripts/sanity_check.py

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Updating repo with new operators"
          git push
        shell: bash  

      - name: Seed database
        env: 
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SHADOW_DATABASE_URL: ${{ secrets.SHADOW_DATABASE_URL }}
        run: npx ts-node ./prisma/seed.ts
